In [ ]:
import pandas as pd
import re

In [ ]:
chess_data = pd.read_csv('../Data/all_with_filtered_anotations_since1998.txt', delimiter = ',').iloc[4:]

In [3]:
chess_data.head()

                                                 # #
4  1 2000.03.14 1-0 2851 None 67 date_false resul...
5  2 2000.03.14 1-0 2851 None 53 date_false resul...
6  3 1999.11.20 1-0 2851 None 57 date_false resul...
7  4 1999.11.20 1-0 2851 None 49 date_false resul...
8  5 2000.02.20 1/2-1/2 2851 2633 97 date_false r...

In [5]:
def clean(text):
    splt = text.split('###')
    strng = splt[-1] + splt[0].split()[2]
    return re.sub(r'[BW][0-9]+\.', '', strng).lstrip()

In [8]:
chess_data['PGN'] = chess_data['# #'].apply(clean)

In [ ]:
chess_data.to_csv('cleaned_filtered_annotations.csv', index = False)