In [1]:
import pandas as pd

In [14]:
lichess = pd.read_csv('../Data/lichess_elite.csv')

In [60]:
chess_commentary = pd.read_csv('../Data/Commentary/cleaned_commentary2.csv')

In [8]:
eng_commentary = pd.read_csv('../Data/blogtext/blog.csv')

In [9]:
lichess.head()

                                                 PGN
0  e4 d5 exd5 Qxd5 Nc3 Qa5 d4 c6 Nf3 Nf6 Bc4 Bg4 ...
1  d4 d5 Nc3 Nf6 Bg5 Nbd7 a3 h6 Bh4 c6 h3 e5 dxe5...
2  d4 d5 Nc3 Nf6 Bg5 Nbd7 Nf3 g6 Qd2 Ne4 Nxe4 dxe...
3  e4 d5 exd5 Qxd5 Nc3 Qa5 d4 c6 Nf3 Nf6 Bd2 Qc7 ...
4  Nf3 Nf6 g3 d5 Bg2 Bg4 O-O Nbd7 b3 e5 Bb2 Bd6 d...

In [61]:
chess_commentary.head()

,moves,commentary
0,e4 c5,still my favourite reply to e4: the Sicilian.
1,e4 c5 Nf3 g6 Ne5 Bg7 f4 e6,just striving for my usual setup in the Hungar...
2,e4 c5 Nf3 g6 Ne5 Bg7 f4 e6 Bb5,"exotic, to say the least."
3,e4 c5 Nf3 g6 Ne5 Bg7 f4 e6 Bb5 Ne7,"Black could of course consider . Bxe5, fxe5 ..."
4,e4 c5 Nf3 g6 Ne5 Bg7 f4 e6 Bb5 Ne7 O-O O-O Nc4,"White realizes, that Ne5 does not really help:..."

In [11]:
eng_commentary.head()

                                                text
0             Info has been found (+/- 100 pages,...
1             These are the team members:   Drewe...
2             In het kader van kernfusie op aarde...
3                   testing!!!  testing!!!
4               Thanks to Yahoo!'s Toolbar I can ...

In [15]:
lichess['PGN'] = '[CHESS] ' + lichess['PGN']

In [62]:
chess_commentary['text'] = chess_commentary['moves'] + ' [EXPLAIN] ' + chess_commentary['commentary']

In [18]:
eng_commentary['text'] = '[ENGLISH] ' + eng_commentary['text']

In [19]:
lichess.head()

                                                 PGN
0  [CHESS] e4 d5 exd5 Qxd5 Nc3 Qa5 d4 c6 Nf3 Nf6 ...
1  [CHESS] d4 d5 Nc3 Nf6 Bg5 Nbd7 a3 h6 Bh4 c6 h3...
2  [CHESS] d4 d5 Nc3 Nf6 Bg5 Nbd7 Nf3 g6 Qd2 Ne4 ...
3  [CHESS] e4 d5 exd5 Qxd5 Nc3 Qa5 d4 c6 Nf3 Nf6 ...
4  [CHESS] Nf3 Nf6 g3 d5 Bg2 Bg4 O-O Nbd7 b3 e5 B...

In [57]:
chess_commentary.head()

,moves,commentary,text
0,1.e4 c5,still my favourite reply to e4: the Sicilian.,1.e4 c5 [EXPLAIN] still my favourite reply to ...
1,1.e4 c5 2.Nf3 g6 3.Ne5 Bg7 4.f4 e6,just striving for my usual setup in the Hungar...,1.e4 c5 2.Nf3 g6 3.Ne5 Bg7 4.f4 e6 [EXPLAIN] j...
2,1.e4 c5 2.Nf3 g6 3.Ne5 Bg7 4.f4 e6 5.Bb5,"exotic, to say the least.",1.e4 c5 2.Nf3 g6 3.Ne5 Bg7 4.f4 e6 5.Bb5 [EXPL...
3,1.e4 c5 2.Nf3 g6 3.Ne5 Bg7 4.f4 e6 5.Bb5 5...Ne7,"Black could of course consider . Bxe5, fxe5 ...",1.e4 c5 2.Nf3 g6 3.Ne5 Bg7 4.f4 e6 5.Bb5 5...N...
4,1.e4 c5 2.Nf3 g6 3.Ne5 Bg7 4.f4 e6 5.Bb5 5...N...,"White realizes, that Ne5 does not really help:...",1.e4 c5 2.Nf3 g6 3.Ne5 Bg7 4.f4 e6 5.Bb5 5...N...

In [21]:
eng_commentary.head()

                                                text
0  [ENGLISH]            Info has been found (+/- ...
1  [ENGLISH]            These are the team member...
2  [ENGLISH]            In het kader van kernfusi...
3  [ENGLISH]            testing!!!  testing!!!   ...
4  [ENGLISH]              Thanks to Yahoo!'s Tool...

In [22]:
import fasttext

PRETRAINED_MODEL_PATH = '../Data/Commentary/lid.176.bin'
model = fasttext.load_model(PRETRAINED_MODEL_PATH)

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [23]:
def detect(text):
    predictions = model.predict(text)
    return predictions[0][0].replace('__label__', '')

In [24]:
eng_commentary['language'] = eng_commentary['text'].apply(detect)

In [29]:
eng_commentary = eng_commentary[eng_commentary['language'] == 'en']

In [33]:
eng_commentary.head(1)

                                                text language
0  [ENGLISH]            Info has been found (+/- ...       en

In [63]:
chess_commentary['text'][16353]

'd4 Nf6 c4 g6 Nc3 Bg7 e4 d6 f3 O-O Be3 e5 d5 Nh5 Bd3 Nf4 Qd2 Bh6 O-O-O [EXPLAIN] Now taking on g2 with his knight, just loses a bishop.'

In [64]:
chess_commentary['text'][64308]

'd4 Nf6 Nf3 e6 g3 b5 Bg2 Bb7 Qd3 a6 a4 b4 O-O c5 c3 d5 Ne5 Nbd7 Nxd7 Qxd7 cxb4 cxb4 Nd2 Bd6 Nb3 O-O Bf4 a5 Nc5 Bxc5 dxc5 Ba6 Qd2 Rfc8 Rfc1 Rc6 [EXPLAIN] trying to double rooks on the c column, so my reply has to have that in account. Rc2 to support the c5 pawn from behind or Bd6, but Bd6 has the disadvantage of inviting Ne8, while Rc2 and b3 is improbable as it exposes the a5 pawn to my queen.'

In [66]:
lichess.head()

                                                 PGN
0  [CHESS] e4 d5 exd5 Qxd5 Nc3 Qa5 d4 c6 Nf3 Nf6 ...
1  [CHESS] d4 d5 Nc3 Nf6 Bg5 Nbd7 a3 h6 Bh4 c6 h3...
2  [CHESS] d4 d5 Nc3 Nf6 Bg5 Nbd7 Nf3 g6 Qd2 Ne4 ...
3  [CHESS] e4 d5 exd5 Qxd5 Nc3 Qa5 d4 c6 Nf3 Nf6 ...
4  [CHESS] Nf3 Nf6 g3 d5 Bg2 Bg4 O-O Nbd7 b3 e5 B...

In [67]:
eng_commentary.head()

                                                text language
0  [ENGLISH]            Info has been found (+/- ...       en
1  [ENGLISH]            These are the team member...       en
2  [ENGLISH]            In het kader van kernfusi...       en
3  [ENGLISH]            testing!!!  testing!!!   ...       en
4  [ENGLISH]              Thanks to Yahoo!'s Tool...       en

In [68]:
df = lichess['PGN'].append(eng_commentary['text'])

In [70]:
df.to_csv('joint_eng_chess.csv', index = False)

In [72]:
df.sample(10)

250075     [CHESS] c4 e5 g3 Nf6 Bg2 c6 Nf3 Bd6 O-O Bc7 d4...
3251427    [CHESS] e4 e5 Nf3 d6 d4 exd4 Nxd4 Be7 Nc3 Nf6 ...
1956946    [CHESS] Nf3 d5 c4 c6 g3 Nf6 Bg2 Bf5 Qb3 Qb6 d3...
41941      [ENGLISH]        Why do I bother trying to cle...
310194     [CHESS] e4 d5 exd5 Qxd5 Nc3 Qe5+ Be2 Qg5 Nf3 Q...
1732223    [CHESS] e4 g6 d4 Bg7 Bc4 d6 Nc3 Nc6 Nge2 Nf6 f...
610517     [CHESS] e4 e5 Nf3 Nc6 Bb5 Bc5 O-O Nd4 Bc4 d6 N...
1009435    [CHESS] d4 d5 Nf3 c5 c4 Nf6 cxd5 cxd4 Qxd4 Qxd...
295240     [ENGLISH]              I got a nice letter fro...
286950     [ENGLISH]        To be honest with you I thoug...
dtype: object

In [82]:
df_sample = df.sample(1_000_000)
df_sample.to_csv('joint_eng_chess_large.csv', index = False)

In [83]:
df_sample = df.sample(500_000)
df_sample.to_csv('joint_eng_chess_mid.csv', index = False)

In [84]:
df_sample = df.sample(100_000)
df_sample.to_csv('joint_eng_chess_small.csv', index = False)

def replace(text):
    lst = ['11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.',
           '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.',
           '31.', '32.', '33.', '34.', '35.', '36.', '37.', '38.', '39.', '40.',
           '41.', '42.', '43.', '44.', '45.', '46.', '47.', '48.', '49.', '50.',
           '51.', '52.', '53.', '54.', '55.', '56.', '57.', '58.', '59.', '60.',
           '61.', '62.', '63.', '64.', '65.', '66.', '67.', '68.', '69.', '70.',
           '71.', '72.', '73.', '74.', '75.', '76.', '77.', '78.', '79.', '80.',
           '1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.',
           '..', '...']
    
    for i in lst:
        text = text.replace(i, '')
    return text

replace(chess_commentary['text'][64308])