In [1]:
import pandas as pd
import re

In [56]:
chess_data = pd.read_csv('../Data/200k_blitz_rapid_classical_bullet.csv', delimiter = ',').fillna('')
#chess_data = chess_data[chess_data['Mode'] != 'Bullet']

c:\users\oshingabesan adebayo\.conda\envs\final_qg\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (19,20,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,243,244,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [57]:
chess_data.head()

,Index,Index.1,Black,BlackElo,BlackRatingDiff,Date,ECO,Event,Opening,Result,...,Clock_ply_193,Clock_ply_194,Clock_ply_195,Clock_ply_196,Clock_ply_197,Clock_ply_198,Clock_ply_199,Clock_ply_200,Category,Weekday
0,0,124,albertoPlasta,906,13.0,2019.04.30,B15,Rated Blitz game,Caro-Kann Defense,0-1,...,,,,,,,,,Blitz,Tuesday
1,1,494,Luckystriker,1296,28.0,2019.04.30,C50,Rated Blitz game,Italian Game,0-1,...,,,,,,,,,Blitz,Tuesday
2,2,552,Verascardoso,1761,-13.0,2019.04.30,C41,Rated Rapid game,Philidor Defense #2,1-0,...,,,,,,,,,Rapid,Tuesday
3,3,588,Stockfish94,2404,8.0,2019.04.30,B06,Rated Bullet game,Modern Defense,0-1,...,,,,,,,,,Bullet,Tuesday
4,4,725,deneme12376,1595,-10.0,2019.04.30,B32,Rated Blitz game,Sicilian Defense: Loewenthal Variation,1-0,...,,,,,,,,,Blitz,Tuesday

In [58]:
chess_data.shape

(200000, 623)

In [59]:
moves_cols = []
eval_cols = []

for i in range(1,201):
    moves_cols.append('Move_ply_' + str(i))
    eval_cols.append('Eval_ply_' + str(i))
    
moves_cols.append('Result')

In [60]:
chess_data['Moves'] = chess_data[moves_cols].astype(str).apply(' '.join, axis=1)

In [70]:
chess_data['Evals'] = chess_data[eval_cols].astype(str).apply(' '.join, axis=1)

In [71]:
chess_data[['Moves', 'Evals']]

,Moves,Evals
0,d4 d5 Nc3 c6 e4 h5 exd5 cxd5 Qf3 Bg4 Qf4 e6 Bb...,0.25 0.15 -0.15 0.47 0.13 0.72 0.66 0.51 0.0 1...
1,e4 e5 Nf3 Nc6 Bc4 d6 Nc3 h6 d4 exd4 Nxd4 Nf6 N...,0.12 0.37 0.23 0.15 0.21 0.46 0.36 0.38 0.48 0...
2,e4 e5 Nf3 d6 c3 Be7 d4 exd4 cxd4 Nf6 Bd3 h6 O-...,0.12 0.37 0.23 0.59 0.16 0.64 0.47 0.8 0.94 0....
3,e4 g6 d4 h6 Nc3 Bg7 Nge2 e6 f3 Ne7 Be3 O-O Qd2...,0.12 0.46 0.28 0.9 0.69 0.97 0.91 0.94 0.85 0....
4,e4 c5 Nf3 Nc6 d4 cxd4 Nxd4 e5 Nb5 a6 Nd6+ Bxd6...,0.12 0.2 0.21 0.08 0.15 0.22 0.08 0.37 0.25 0....
...,...,...
199995,e4 Nc6 d4 e5 d5 Nce7 c4 Ng6 Be2 Bb4+ Bd2 Bxd2+...,0.24 0.46 0.4 0.86 0.61 0.6 0.25 0.33 0.2 0.23...
199996,e4 e5 d4 d5 exd5 Qxd5 Nf3 Bg4 Be2 e4 Nc3 Qa5 N...,0.24 0.37 -0.11 1.25 0.44 0.19 0.32 0.6 0.77 0...
199997,d4 d5 c4 dxc4 Nc3 e6 e3 Nf6 Bxc4 c6 a4 a5 b3 B...,0.25 0.25 0.26 0.39 0.0 0.5 0.24 0.37 0.25 0.7...
199998,d4 d6 e4 g6 e5 Bg7 exd6 exd6 d5 Nf6 c3 O-O Nd2...,0.25 0.47 0.28 0.48 -1.07 0.0 -0.38 -0.1 -0.75...
199999,d4 e6 Bf4 c5 dxc5 Bxc5 Nc3 d5 Nf3 Nf6 Bg5 O-O ...,0.25 0.27 0.0 0.05 -0.2 -0.02 -0.25 -0.25 -0.4...

In [76]:
clean(chess_data['Evals'][0])

'0.25 0.15 -0.15 0.47 0.13 0.72 0.66 0.51 0.0 1.63 0.56 0.79 -0.65 -1.01 -1.44 -1.12 -1.69 -1.58 -2.87 -2.08 -3.4 -3.27 -3.56 -2.32 -10.81 -10.83 -11.13 -11.02 -10.65 -10.14 -10.67 -10.53 -11.15 -10.86 -10.99 -9.95 -11.51 -10.24 -10.34 -10.21 -10.41 -9.05 -10.9 -10.61 -10.27 -9.57 -9.9 -8.16 -8.09 -7.88 -7.95 -7.56 #-15 -70.52 -69.37 -22.66 #-10 -13.15 -22.33 -22.55 -21.08 -18.77 -66.25 -25.68 -20.97 -19.73 #-19 -65.66 #-5 -14.39 #-5 #-4 #-1 0-1'

In [74]:
def clean(strng):
    return re.sub(' +', ' ', strng)

In [79]:
chess_data['PGN'] = chess_data['Moves'].apply(clean)

In [80]:
chess_data['Evals'] = chess_data['Evals'].apply(clean)

In [83]:
chess_data['game_length'] = chess_data['PGN'].str.split(' ').apply(len)
chess_data['eval_length'] = chess_data['Evals'].str.split(' ').apply(len)

In [98]:
chess_data[['game_length','eval_length']]

        game_length  eval_length
0                75           74
1                69           68
2                72           72
3                87           86
4                72           72
...             ...          ...
199995           31           31
199996           60           60
199997           44           43
199998           47           46
199999           97           96

[200000 rows x 2 columns]

In [99]:
chess_data[['PGN', 'Evals']].to_csv('../Data/cleaned_200k.csv', index = False)

In [ ]:
chess_data['PGN'][100]