In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../Data/merged_chess_data.csv')

c:\users\oshingabesan adebayo\.conda\envs\final_qg\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
len(df)

14626065

In [10]:
df['length'] = df['PGN'].str.len()

In [11]:
df['length'].describe()

count    1.462606e+07
mean     3.685688e+02
std      3.042054e+02
min      1.000000e+00
25%      2.170000e+02
50%      3.040000e+02
75%      4.170000e+02
max      6.743000e+03
Name: length, dtype: float64

In [20]:
df_striped = df[df['length'] >= 60]

In [21]:
len(df_striped)

14369072

In [22]:
len(df) - len(df_striped)

256993

In [24]:
len(df_striped['Evals'].dropna())

198996

In [25]:
df_striped.head()

                                                 PGN Evals  length
0  d4 d5 c4 c6 e3 a6 Nf3 e5 cxd5 e4 Ne5 cxd5 Qa4+...   NaN     307
1  e4 e5 b3 Nf6 Bb2 Nc6 Nf3 d6 d3 g6 Nbd2 Bg7 g3 ...   NaN     204
2  e4 d5 exd5 Qxd5 Nf3 Bg4 Be2 Nf6 Nc3 Qd8 O-O Nc...   NaN     262
3  e3 Nf6 Bc4 d6 e4 e6 Nf3 Nxe4 Nd4 Nxf2 Kxf2 Qh4...   NaN     262
4  e4 c5 Nf3 d6 d4 cxd4 Nxd4 Nf6 Nc3 a6 Bc4 Qc7 B...   NaN     428

In [26]:
df_striped[['PGN','Evals']].to_csv('cleaned_merged_chess_data.csv', index = False)